<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Aragorn\JobManager\Mail\Template\TransportBuilder" />
	<preference for="Aragorn\JobManager\Api\JobRepositoryInterface" type="Aragorn\JobManager\Model\JobRepository"/>
	<preference for="Aragorn\JobManager\Api\Data\JobInterface" type="Aragorn\JobManager\Model\Job"/>
	<preference for="Aragorn\JobManager\Api\Data\JobSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Aragorn\JobManager\Model\ResourceModel\Job\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aragorn_jobmanager_job</argument>
			<argument name="resourceModel" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Collection</argument>
		</arguments>
	</virtualType>
	<preference for="Aragorn\JobManager\Api\ApplicantRepositoryInterface" type="Aragorn\JobManager\Model\ApplicantRepository"/>
	<preference for="Aragorn\JobManager\Api\Data\Applicant\ApplicantInterface" type="Aragorn\JobManager\Model\Applicant"/>
	<preference for="Aragorn\JobManager\Api\Data\Applicant\ApplicantSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Aragorn\JobManager\Model\ResourceModel\Applicant\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aragorn_jobmanager_applicant</argument>
			<argument name="resourceModel" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Applicant\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="aragorn_jobmanager_job_grid_data_source" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Grid\Collection</item>
				<item name="aragorn_jobmanager_applicant_grid_data_source" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Applicant\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Model\Entity\RepositoryFactory">
		<arguments>
			<argument name="entities" xsi:type="array">
				<item name="Aragorn\JobManager\Api\Data\JobInterface" xsi:type="string">Aragorn\JobManager\Api\Data\JobRepositoryInterface</item>
			</argument>
		</arguments>
	</type>

	<virtualType name="Aragorn\JobManager\Model\DataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Aragorn\JobManager\Model\ResourceModel\Job\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">CustomGridFilterPool</argument>
		</arguments>
	</virtualType>
	<type name="Aragorn\JobManager\Model\ResourceModel\Job\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">aragorn_jobmanager_job</argument>
			<argument name="eventPrefix" xsi:type="string">aragorn_jobmanager_job_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">jobmanager_job_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Collection</argument>
		</arguments>
	</type>
	<virtualType name="CmsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\EntityManager\MetadataPool">
		<arguments>
			<argument name="metadata" xsi:type="array">
				<item name="Aragorn\JobManager\Api\Data\JobInterface" xsi:type="array">
					<item name="entityTableName" xsi:type="string">aragorn_jobmanager_job</item>
					<item name="identifierField" xsi:type="string">job_id</item>
				</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
		<arguments>
			<argument name="extensionActions" xsi:type="array">
				<item name="Aragorn\JobManager\Api\Data\JobInterface" xsi:type="array">
					<item name="read" xsi:type="array">
						<item name="storeReader" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Relation\Store\ReadHandler</item>
					</item>
					<item name="create" xsi:type="array">
						<item name="storeCreator" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Relation\Store\SaveHandler</item>
					</item>
					<item name="update" xsi:type="array">
						<item name="storeUpdater" xsi:type="string">Aragorn\JobManager\Model\ResourceModel\Job\Relation\Store\SaveHandler</item>
					</item>
				</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\EntityManager\HydratorPool">
		<arguments>
			<argument name="hydrators" xsi:type="array">
				<item name="Aragorn\JobManager\Api\Data\JobInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
			</argument>
		</arguments>
	</type>
</config>
